<tr>
  <td>
  	<%= f.input :autocomplete_formula_element_name, :label => false, :input_html => { :class => 'span4 autocomplete-formula-element-name' } %>
  	<%= f.input :formula_element_id, :as => 'hidden' %>
  </td>
  <td><%= f.input :proportion, :as => :string, :label => false, :input_html => { :class => 'span1' } %></td>
  <td>
    <%= link_to_remove_field "×", f,  :class => 'close' %>
  </td>
</tr>
