<%= render(
  "common/headings/page",
  breadcrumbs: [
    { title: t("navigation.dashboard"), path: factory_dashboard_index_path },
    { title: t("titles.formula.index"), path: factory_formulas_path },
    { title: @formula.name, path: factory_formula_path(@formula) },
    { title: t("navigation.edit"), path: edit_factory_formula_path(@formula) },
  ],
  title: @formula.name,
  options_dropdown: [
    ->(classes, index:) do
      button_to(
        t(:archive, scope: [:actions]),
        factory_formula_path(@formula),
        method: :delete,
        data: { turbo_confirm: t("messages.are_you_sure") },
        class: "#{classes} text-red-500",
      )
    end
  ],
) %>

<div class="w-full">
  <%= render "form", formula: @formula %>
</div>
