<%= render(
  "common/headings/page",
  breadcrumbs: [
    { title: t("navigation.dashboard"), path: factory_root_path },
    { title: t("titles.formula.index"), path: factory_formulas_path },
    { title: t("navigation.new"), path: new_factory_formula_path },
  ],
  title: t("titles.formula.new"),
) %>

<div class="w-full">
  <%= render "form", formula: @formula %>
</div>
