<div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
<div id="years-container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
<script type="text/javascript">
$(function () {
    'use strict';
    var chart,
      yearsChart;
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container',
                type: 'spline'
            },
            title: {
                text: 'Niveles de producci칩n'
            },
            subtitle: {
                text: 'Sumatoria de toda la materia prima utilizada por mes, comparado con a침os anteriores'
            },
            xAxis: {
                categories: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun',
                    'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic']
            },
            yAxis: {
                title: {
                    text: 'Consumo de materia prima'
                },
                min: 0
            },
            tooltip: {
                formatter: function() {
                        return '<b>'+ this.series.name +'</b><br/>'+
                        this.y +' Kg';
                }
            },

            series: [
                <% flat_dates_to_nested_dates(@production_monthly).each do |year| %>
                    {
                        name: '<%= year[:name] %>',
                        data: [
                            <% year[:data].each do |month| %>
                                <%= month[:production].round %>,
                            <% end %>
                        ],
                    },
                <% end %>
            ]
        });

        yearsChart = new Highcharts.Chart({
          chart: {
            renderTo: 'years-container',
            type: 'spline'
          },
          title: {
            text: 'Consumo por a침o'
          },
          subtitle: {
            text: 'Sumatoria de toda la materia prima utilizada por a침o'
          },
          xAxis: {
            categories: <%= @production_yearly.map { |date| date['year'].to_i } %>
          },
          yAxis: {
            title: {
              text: 'Consumo de materia prima'
            },
            min: 0
          },
          tooltip: {
            formatter: function() {
              return '<b>'+ this.series.name +'</b><br/>'+
              this.y +' Kg';
            }
          },

          series: [
            {
              name: 'Consumo (kg)',
              data: [
                <% @production_yearly.each do |date| %>
                  <%= date['weight'] %>,
                <% end %>
              ],
            },
          ]
        });
    });

});
</script>
