<div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
<script type="text/javascript">
$(function () {
    var chart;
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container',
                type: 'spline'
            },
            title: {
                text: 'Niveles de producción'
            },
            subtitle: {
                text: 'Sumatoria de toda la materia prima utilizada por mes, comparado con años anteriores'
            },
            xAxis: {
                type: 'datetime',
                dateTimeLabelFormats: { // don't display the dummy year
                    month: '%e. %b',
                    year: '%b'
                }
            },
            yAxis: {
                title: {
                    text: 'Consumo de materia prima'
                },
                min: 0
            },
            tooltip: {
                formatter: function() {
                        return '<b>'+ this.series.name +'</b><br/>'+
                        Highcharts.dateFormat('%e. %b', this.x) +': '+ this.y +' m';
                }
            },

            series: [
                <% ProductionMonth.data_for_chart.each do |year| %>
                    {
                        name: '<%= year[:name] %>',
                        data: [
                            <% year[:data].each do |month| %>
                                [Date.UTC(<%= month[:year] %>,  <%= month[:month] - 1 %>, 1), <%= month[:production] %>],
                            <% end %>
                        ],
                    },
                <% end %>
            ]
        });
    });
    
});
</script>