<%# locals: (items:) -%>

<div class="border-t border-lightGray-500">
  <dl class="divide-y divide-lightGray-300">
    <% items.each do |item| %>
      <div class="px-4 py-6 sm:grid sm:grid-cols-2 md:grid-cols-3 sm:gap-4 sm:px-0">
        <dt class="text-sm font-medium leading-6 text-gray-100"><%= item[:label] %></dt>
        <dd class="mt-1 text-sm leading-6 text-gray-700 md:col-span-2 sm:mt-0"><%= item[:value] %></dd>
      </div>
    <% end %>
  </dl>
</div>
