<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing making order</h1>

  <%= render "form", making_order: @making_order %>

  <%= link_to "Show this making order", @making_order, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to making orders", making_orders_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
