<div class="flex items-center justify-center min-h-screen -my-10">
  <%= link_to new_session_path do %>
    <%= image_tag("logo.svg", class: "mx-auto h-60 w-auto", alt: "COMMAN") %>
  <% end %>
</div>
