<%= render(
  "common/headings/page",
  breadcrumbs: [
    { title: t("navigation.dashboard"), path: office_root_path },
    { title: t("titles.product.index"), path: office_products_path },
    { title: t("navigation.new"), path: new_office_product_path },
  ],
  title: t("titles.product.new"),
) %>

<div class="w-full">
  <%= render "form", product: @product %>
</div>
