<%# locals(productable:, form:) %>

<div class="overflow-hidden rounded-lg bg-white-100 shadow-sm col-span-3">
  <div class="px-4 py-5 sm:p-6">
    <p class="text-sm text-gray-300 text-pretty">
      Este producto es fabricado por Unibras.
      Para cambiar los parámetros de fabricación vaya a
      <%= link_to "fábrica", factory_product_path(productable.product), class: "text-gray-900 hover:text-gray" %>
    </p>
  </div>
</div>
