<%# locals(:productable) %>
<%= render(
  "common/lists/description",
  items: [
    { label: ManufacturedProduct.human_attribute_name(:formula), value: productable.formula_name },
    { label: ManufacturedProduct.human_attribute_name(:shape), value: productable.shape },
    { label: ManufacturedProduct.human_attribute_name(:size), value: productable.size },
    { label: ManufacturedProduct.human_attribute_name(:weight), value: "#{number_with_precision productable.weight} kg" },
  ]
) %>
<div class="mt-6 overflow-hidden rounded-lg bg-white-100 shadow-sm">
  <div class="px-4 py-5 sm:p-6">
    <p class="text-sm text-gray-300 text-pretty">
      <%= t("in_house_supplier", scope: "messages", supplier_name: Supplier.in_house.name, supplier_link: link_to("fábrica", factory_product_path(productable.product), class: "text-gray-900 hover:text-gray")).html_safe %>
    </p>
  </div>
</div>
