<%# locals(productable:, form:) %>

<div class="overflow-hidden rounded-lg bg-white-100 shadow-sm col-span-3">
  <div class="px-4 py-5 sm:p-6">
    <p class="text-sm text-gray-300 text-pretty">
      <%= t("in_house_supplier", scope: "messages", supplier_name: Supplier.in_house.name, class: "text-gray-900 hover:text-gray") %>
    </p>
  </div>
</div>
