<%# locals: (form:, product:)  %>

<%= render "common/forms/cover", form: form do %>
  <div class="mt-2">
    <%= image_tag product.cover_thumbnail,
      "data-common--image-preview-target": "canvas",
      class: "size-14 inline-block rounded-full ring-1 ring-gray-900/10 object-cover"
    %>
  </div>
<% end %>
