<h1>Editing Formula Element</h1>

<%= render 'form', formula_element: @formula_element %>

<%= link_to 'Show', factory_formula_element_path(@formula_element) %> |
<%= link_to 'Back', factory_formula_elements_path %>
