<%= render "common/headings/page",
  title: t("titles.formula_element.new"),
  breadcrumbs: [
    { title: t("navigation.dashboard"), path: factory_dashboard_index_path },
    { title: t("titles.formula_element.index"), path: factory_formula_elements_path },
    { title: t("navigation.new"), path: new_factory_formula_element_path },
  ] %>

<div class="w-full">
  <%= render "form", formula_element: @formula_element %>
</div>
