<table class="">
  <tbody>
    <% @formula_elements.each do |formula_element| %>
      <tr>
        <td><%= formula_element.formula_element_name %></td>
        <td class="amount"><%= number_with_precision formula_element.consumed_stock %> Kg</td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td>
        <h4>Total</h4>
      </td>
      <td class="amount">
         <b><%= number_with_delimiter @formula_elements.inject(0.0){|sum, item| sum = sum + item.consumed_stock} %> Kg</b>
      </td>
    </tr>
  </tfoot>
</table>

