development:
  adapter: postgresql
  database: comman
  host: localhost
  username: postgres
  password: postgres

production:
  adapter: postgresql
  database: comman
  host: localhost
  username: postgres
  password: postgres
