<%# locals: (cash_discount:, client_type_discounts:)  %>

<div>
  <h2 class="text-base/7 font-semibold text-gray-900"><%= t("titles.discount.index") %></h2>
  <p class="mt-1 text-sm/6 text-gray-500">Configura descuentos automáticos según el medio de pago y el tipo de cliente. Estos descuentos se aplicarán de manera automática en cada transacción elegible.</p>
  <dl class="mt-6 divide-y divide-light-gray border-t border-light-gray text-sm/6">
    <%= render cash_discount %>
    <% client_type_discounts.each do |client_type_discount| %>
      <%= render client_type_discount %>
    <% end %>
  </dl>
</div>
