@import "variables";

.nav-bar {
  width: 100%;
  display: grid;
  list-style: none;
  margin: 0 0 $default-spacing 0;
  padding: 0;

  &__title {
    text-transform: uppercase;
    margin-bottom: $default-spacing;
    padding: $default-spacing;
  }

  &__item {
    display: inline-block;
    padding: $default-spacing;
    text-decoration: none;
    text-transform: capitalize;
    color: $text-color;

    &--active {
      background-color: $lighter-gray;
      font-weight: bold;
    }
  }
}

@media (min-width: 900px) {
  .nav-bar {
    &__item {
      &--active {
        border-radius: $default-border-radius;
      }
    }
  }
}
