<%= render(
  "common/headings/page",
  breadcrumbs: [
    { title: t("navigation.dashboard"), path: office_root_path },
    { title: t("titles.client.index"), path: office_clients_path },
    { title: @client.name, path: office_client_path(@client) },
  ],
  title: @client.name,
  actions: [
    { label: t("navigation.edit"), path: edit_office_client_path(@client), method: :get },
  ],
) %>
<div class="grid grid-cols-1 xl:grid-cols-2 gap-8 mt-6">
  <div>
    <%= render(
      "common/lists/description",
      items: [
        { label: Client.human_attribute_name(:id), value: @client.id },
        { label: Client.human_attribute_name(:name), value: @client.name },
        { label: Client.human_attribute_name(:tax_type), value: t(@client.tax_type, scope: [ :activerecord, :attributes, :client, :tax_type_values ]) },
        { label: Client.human_attribute_name(:tax_identification), value: @client.tax_identification },
        { label: Client.human_attribute_name(:client_type), value: t(@client.client_type, scope: [ :activerecord, :attributes, :client, :client_type_values ]) },
      ]
    ) %>
  </div>

  <div>
    <%= render(
      "common/lists/description",
      items: [
        { label: Client.human_attribute_name(:phone), value: @client.phone },
        { label: Client.human_attribute_name(:email), value: @client.email },
        { label: Client.human_attribute_name(:seller_name), value: @client.seller_name },
        { label: Client.human_attribute_name(:comments), value: @client.comments },
      ]
    ) %>
  </div>

  <div>
    <%= render(
      "common/lists/description",
      items: [
        {
          label: Client.human_attribute_name(:address),
          block: -> {
            if @client.maps_url.present?
              link_to(safe_url(@client.maps_url), class: "flex items-center gap-2", target: "_blank") do
                heroicon("map-pin", options: { class: "h-4 w-4 shrink-0 transition text-gray-300 hover:text-gray-700" }) +
                @client.address
              end
            else
              @client.address
            end
          },
        },
        { label: Client.human_attribute_name(:country), value: @client.country },
        { label: Client.human_attribute_name(:province), value: @client.province },
        { label: Client.human_attribute_name(:zipcode), value: @client.zipcode },
      ]
    ) %>
  </div>
  <div class="col-span-1 xl:col-span-2">
    <div class="border-b border-light-gray-500 bg-white py-6 mb-6">
      <h3 class="text-base font-semibold text-gray-900">Historial de cambios</h3>
    </div>
    <ul role="list" class="-mb-8">
      <li>
        <div class="relative pb-8">
          <div class="relative flex space-x-3">
            <div>
              <span class="flex h-8 w-8 items-center justify-center rounded-full bg-green-500 ring-8 ring-white">
                <svg class="h-5 w-5 text-white" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                  <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
                </svg>
              </span>
            </div>
            <div class="flex min-w-0 flex-1 justify-between space-x-4 pt-1.5">
              <div>
                <p class="text-sm text-gray-500">Cliente ingresado</p>
              </div>
              <div class="whitespace-nowrap text-right text-sm text-gray-500">
                <time datetime="2020-10-04">Oct 4</time>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
