<%= render(
  "common/headings/page",
  breadcrumbs: [
    { title: t("navigation.dashboard"), path: office_root_path },
    { title: t("titles.supplier.index"), path: office_suppliers_path },
    { title: t("navigation.new"), path: new_office_supplier_path },
  ],
  title: t("titles.supplier.new"),
) %>

<div class="w-full">
  <%= render "form", supplier: @supplier %>
</div>
