<%= render(
  "common/headings/page",
  breadcrumbs: [
    { title: t("navigation.dashboard"), path: sales_root_path },
    { title: t("sales.sales_orders.index.title"), path: sales_sales_orders_path },
    { title: @sales_order.name, path: sales_sales_order_path(@sales_order) },
    { title: t("navigation.edit"), path: new_sales_sales_order_path },
  ],
  title: t(".title", client_name: @sales_order.client_name, status: t("activerecord.attributes.sales_order.status_values.#{@sales_order.status}")),
) %>

<div class="w-full">
  <%= render "form", sales_order: @sales_order %>
</div>
