<%= render(
  "common/headings/page",
  breadcrumbs: [
    { title: t("navigation.dashboard"), path: office_root_path },
    { title: t("titles.user.index"), path: office_users_path },
    { title: @user.name, path: office_user_path(@user) },
    { title: t("navigation.edit"), path: edit_office_user_path(@user) },
  ],
  title: @user.name,
  options_dropdown: [
    ->(classes, index:) do
      button_to(
        t(:archive, scope: [:actions]),
        office_user_path(@user),
        method: :delete,
        data: { turbo_confirm: t("messages.are_you_sure") },
        class: "#{classes} text-red-500",
      )
    end
  ],
) %>

<div class="w-full">
  <%= render "form", user: @user %>
</div>
